# Copy this file to application-local.properties and fill in your real values.
spring.datasource.url=jdbc:postgresql://localhost:5432/employee_db
spring.datasource.username=postgres
spring.datasource.password=Nitesh@1234